{% extends "base.html" %}
{% load static %}

{% block Title%}
🌻 Home
{% endblock Title%}

{% block contents%}
  <center>
    <div class="container" style="margin-top: 230px;">
      <h1 >Welcome Home 🔮</h1><br>
        <button type="button" class="btn btn-success"><a style="color: white;" href="{% url 'accounts:login_url' %}">Login</a></button>
        <button type="button" class="btn btn-info"><a style="color: white;" href="{% url 'accounts:register_url' %}">Resgiter</a></button>
    </div>
  </center>
{% endblock contents%}