{% extends "base.html" %}
{% load static %}

{% block Title%}
🌻 Log in
{% endblock Title%}

{% block contents%}
<div class="container-fluid">
  <div class="row justify-content-center">
      <div class= "col-15 col-sm-10 col-md-3">
          <form class="form-container" method="POST" action="">
            <h5 class="display-5 text-center">LOG IN</h5>
            {% csrf_token %}
              <div class="form-group">
                <label for="id_name"><h6>Name: </h6></label>
                <input class="form-control" type="text" name="username" placeholder="Enter your username" style="margin-bottom: 15px;" required>
                
                <label for="id_password"><h6>Password: </h6></label>
                <input class="form-control" name="password" placeholder="Enter your password" required></input>
                 <!-- {{form.as_p}} -->

              </div>
           <div class="form-group">
              Don't have an account? <br> Click<a href="{% url 'accounts:register_url'%}"> here </a>to register
           </div>
           <button type="submit" class="btn btn-block" value="Login" style="background-color: rgb(99, 247, 185); color:black;">Login</button>
           <!-- <input class="btn login_btn" type="submit" value="Login"> -->
          </form><br>
          {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <script>
                    alert("{{ message }}")
                </script>
            {% endfor %}
            </ul>
        {% endif %}
      </div>	
  </div>   
  <style>
    .form-container{
        position:absolute;
        top: 23vh;
        background: rgba(255, 202, 87, 0.986);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #000;
    }
    .form-control {
        border-radius: 30px;
    }
    .card{
        /* top: 23vh; */
        background: rgb(255, 244, 92);
        padding: 60px;
        margin-right: 30px;
        margin-left: 10px;
        margin-bottom: 40px;
        border-radius: 5px;
    }
    .btn{
        left: 1000px;
    }
      </style>
{% endblock contents%}